- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			.container 
				h3.title-block Каталог игр
				section.catalog-discounts
					.catalog-discounts__item(class="item-main" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500")
						img(src=img+"catalog-discounts/PUBG-MOBILE.jpeg", alt="")
						.catalog-discounts__txt
							.catalog-discounts__title Зимние скидки на все
							.flex-column 
								.catalog-discounts__desc Только лучшие игры
								a.btn(href="#") Каталог игр
					.catalog-discounts__item(class="item-visible-1" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500")
						img(src=img+"catalog-discounts/025e7fecbd88d321_1200xH.jpg", alt="")
						.catalog-discounts__txt
							.catalog-discounts__title The Watch Dogs 2
							.catalog-discounts__price
								.catalog-discounts__price-main 1 499 ₽ 
								.catalog-discounts__price-old 2 499 ₽ 
					.catalog-discounts__item(class="item-visible-2" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="800")
						img(src=img+"catalog-discounts/ad995331362975.564cf39bdd7e9.jpg", alt="")
						.catalog-discounts__txt
							.catalog-discounts__title Spider Man
							.catalog-discounts__price
								.catalog-discounts__price-main 1 499 ₽ 
								.catalog-discounts__price-old 2 499 ₽ 
					.catalog-discounts__item(class="item-visible-3" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1200")
						img(src=img+"catalog-discounts/pubg-guy-gun-gu-3840x2160.jpg", alt="")
						.catalog-discounts__txt 
							.catalog-discounts__title PUBG
							.catalog-discounts__price
								.catalog-discounts__price-main 1 499 ₽ 
								.catalog-discounts__price-old 2 499 ₽ 
					.swiper-container(class="mySwiper-2")
						.swiper-wrapper
							.swiper-slide
								.catalog-discounts__item(class="item-visible-1")
									img(src=img+"catalog-discounts/025e7fecbd88d321_1200xH.jpg", alt="")
									.catalog-discounts__txt
										.catalog-discounts__title The Watch Dogs 2
										.catalog-discounts__price
											.catalog-discounts__price-main 1 499 ₽ 
											.catalog-discounts__price-old 2 499 ₽ 
							.swiper-slide
								.catalog-discounts__item(class="item-visible-2")
									img(src=img+"catalog-discounts/ad995331362975.564cf39bdd7e9.jpg", alt="")
									.catalog-discounts__txt
										.catalog-discounts__title Spider Man
										.catalog-discounts__price
											.catalog-discounts__price-main 1 499 ₽ 
											.catalog-discounts__price-old 2 499 ₽ 
							.swiper-slide
								.catalog-discounts__item(class="item-visible-3")
									img(src=img+"catalog-discounts/pubg-guy-gun-gu-3840x2160.jpg", alt="")
									.catalog-discounts__txt 
										.catalog-discounts__title PUBG
										.catalog-discounts__price
											.catalog-discounts__price-main 1 499 ₽ 
											.catalog-discounts__price-old 2 499 ₽ 
				section.genre 
					a(href="#") 
						img(src=img+"genre/Mask Group (1).png", alt="")
						.genre__title Экшены
					a(href="#") 
						img(src=img+"genre/Layer 1 copy 2.png", alt="")
						.genre__title Шутеры
					a(href="#") 
						img(src=img+"genre/Mask Group.png", alt="")
						.genre__title Приключения
					a(href="#") 
						img(src=img+"genre/image.png", alt="")
						.genre__title Стратегии
					a(href="#") 
						img(src=img+"genre/Mask Group (1).png", alt="")
						.genre__title Экшены
					a(href="#") 
						img(src=img+"genre/Layer 1 copy 2.png", alt="")
						.genre__title Шутеры
					a(href="#") 
						img(src=img+"genre/Mask Group.png", alt="")
						.genre__title Приключения
				section.catalog-filters 
					.catalog-filters__item 
						.catalog-filters__all 
							input(type="checkbox" id="catalog-filters__all")
							label(for="catalog-filters__all") Все игры<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4 4L7 1" stroke="#C4C4C4" stroke-linecap="round" stroke-linejoin="round"/></svg>
						.catalog-filters__system 
							input(type="checkbox" id="catalog-filters__system")
							label(for="catalog-filters__system") Платформа<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4 4L7 1" stroke="#C4C4C4" stroke-linecap="round" stroke-linejoin="round"/></svg>
						.catalog-filters__price
							input(type="checkbox" id="catalog-filters__price")
							label(for="catalog-filters__price") Цена<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4 4L7 1" stroke="#C4C4C4" stroke-linecap="round" stroke-linejoin="round"/></svg>
					.catalog-filters__search
						input(type="text" placeholder="Поиск среди 200 игр")
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7.66665" cy="7.99819" r="6.66665" stroke="#F59502" stroke-width="2"/><path d="M12.7773 12.4163L17 16.5562" stroke="#F59502" stroke-width="2" stroke-linecap="round"/></svg>
				section.index-katalog 
					.flex 
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group.png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Witcher 3: Wild Hunt
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/knVdI0VF54j3BCIEr5VGAw.jpeg", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Far Cry 5
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (2).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 No Man's Sky
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/thumb-1920-865978.jpg", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 The Crew 2
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (4).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 FIFA 19
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (5).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 CS:GO
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (6).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Watch dogs 2
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (7).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 PUBG
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (8).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 DOOM
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (9).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Bioshock Infinite
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (10).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Titanfall 2
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (11).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Dead by Daylight
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group.png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Witcher 3: Wild Hunt
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/knVdI0VF54j3BCIEr5VGAw.jpeg", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Far Cry 5
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (2).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 No Man's Sky
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/thumb-1920-865978.jpg", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 The Crew 2
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (4).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 FIFA 19
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (5).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 CS:GO
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (6).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Watch dogs 2
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (7).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 PUBG
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (8).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 DOOM
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (9).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Bioshock Infinite
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (10).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Titanfall 2
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (11).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Dead by Daylight
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
				section.pagination 
					a.pagination__start(href="#") В начало
					.flex 
						a.active(href="#") 1
						a(href="#") 2
						a(href="#") 3
						a(href="#") 4
						.pagination__cirlce ...
						a(href="#") 30
					a.pagination__end(href="#") В конец
		include blocks/footer.pug
		include blocks/scripts.pug