- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			.container 
				section.main-slider 
					.main-slider__left 
						img.main-slider__absolute(src=img+"top-slider-left-a.png", alt="")
						img(src=img+"top-slider-left.png", alt="")
						h2 Страшные скидки <br>в честь открытия
					.main-slider__right
						.swiper-container(class="mySwiper")
							.swiper-wrapper
								.swiper-slide
									img.desk(src=img+"top-slider-right.png", alt="")
									img.mob(src=img+"top-slider/Rectangle 45.png", alt="")
									h2 Witcher 3: Wild Hunt
									.main-slider__price 
										.main-slider__price-main 
											.main-slider__price-txt 790р
											.main-slider__price-sell - 30%
										.main-slider__price-old 1 990р
								.swiper-slide
									img.desk(src=img+"top-slider-right.png", alt="")
									img.mob(src=img+"top-slider/Rectangle 45.png", alt="")
									h2 Witcher 4: Wild Hunt
									.main-slider__price 
										.main-slider__price-main 
											.main-slider__price-txt 790р
											.main-slider__price-sell - 30%
										.main-slider__price-old 1 990р
								.swiper-slide
									img.desk(src=img+"top-slider-right.png", alt="")
									img.mob(src=img+"top-slider/Rectangle 45.png", alt="")
									h2 Witcher 5: Wild Hunt
									.main-slider__price 
										.main-slider__price-main 
											.main-slider__price-txt 790р
											.main-slider__price-sell - 30%
										.main-slider__price-old 1 990р
								.swiper-slide
									img.desk(src=img+"top-slider-right.png", alt="")
									img.mob(src=img+"top-slider/Rectangle 45.png", alt="")
									h2 Witcher 6: Wild Hunt
									.main-slider__price 
										.main-slider__price-main 
											.main-slider__price-txt 790р
											.main-slider__price-sell - 30%
										.main-slider__price-old 1 990р
								.swiper-slide
									img.desk(src=img+"top-slider-right.png", alt="")
									img.mob(src=img+"top-slider/Rectangle 45.png", alt="")
									h2 Witcher 7: Wild Hunt
									.main-slider__price 
										.main-slider__price-main 
											.main-slider__price-txt 790р
											.main-slider__price-sell - 30%
										.main-slider__price-old 1 990р
							.swiper-pagination
						.swiper-container(class="mySwiper-1")
							.swiper-wrapper
								.swiper-slide
									img(src=img+"top-slider/Union.png", alt="")
								.swiper-slide
									img(src=img+"top-slider/Union (1).png", alt="")
								.swiper-slide
									img(src=img+"top-slider/Union (2).png", alt="")
								.swiper-slide
									img(src=img+"top-slider/Union.png", alt="")
								.swiper-slide
									img(src=img+"top-slider/Union (3).png", alt="")
				section.fortune 
					h3.title-block Испытай удачу
					.flex 
						.fortune__item
							img.fortune__img(src=img+"fortune/Union.png", alt="")
							img.fortune__absolute-1(src=img+"fortune/Mask Group (2).png", alt="")
							.fortune__title-1 EPIC
							.fortune__desc
								.fortune__desc-item <span>800</span> игр
								.fortune__desc-item <span>130%</span> профит
								.fortune__desc-item игры от <span>$ 900</span>
							.fortune__discount - 30%
							.fortune__price
								.fortune__price-main $ 800
								.fortune__price-old $ 800
						.fortune__item
							img.fortune__img(src=img+"fortune/Union (1).png", alt="")
							img.fortune__absolute-2(src=img+"fortune/Mask Group (1).png", alt="")
							.fortune__title-2 COMMON
							.fortune__desc
								.fortune__desc-item <span>800</span> игр
								.fortune__desc-item <span>130%</span> профит
								.fortune__desc-item игры от <span>$ 900</span>
							.fortune__discount - 30%
							.fortune__price
								.fortune__price-main $ 800
								.fortune__price-old $ 800
						.fortune__item
							img.fortune__img(src=img+"fortune/Union (2).png", alt="")
							img.fortune__absolute-3(src=img+"fortune/Mask Group.png", alt="")
							.fortune__title-3 LEGEND
							.fortune__desc
								.fortune__desc-item <span>800</span> игр
								.fortune__desc-item <span>130%</span> профит
								.fortune__desc-item игры от <span>$ 900</span>
							.fortune__discount - 30%
							.fortune__price
								.fortune__price-main $ 800
								.fortune__price-old $ 800
				section.index-katalog 
					.title-row 
						h3.title-block Каталог игр
						a(href="#") Все игры
					.flex 
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group.png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Witcher 3: Wild Hunt
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/knVdI0VF54j3BCIEr5VGAw.jpeg", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Far Cry 5
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (2).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 No Man's Sky
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/thumb-1920-865978.jpg", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 The Crew 2
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (4).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 FIFA 19
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (5).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 CS:GO
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (6).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Watch dogs 2
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (7).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 PUBG
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (8).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 DOOM
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (9).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Bioshock Infinite
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#") 
							img(src=img+"katalog/Mask Group (10).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Titanfall 2
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
						a.katalog__item(href="#")
							img(src=img+"katalog/Mask Group (11).png", alt="")
							.katalog__infos
								.katalog__info-main Эксклюзив
								.katalog__info-dop Предзаказ
							.katalog__price 
								.katalog__price-main 1 199₽
								.katalog__price-old 3 499₽
							.katalog__discount -35%
							.katalog__title 
								h4 Dead by Daylight
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9871 24C6.55357 24 1.96259 20.3969 0.478453 15.4517C0.480996 15.4426 0.483523 15.4336 0.486033 15.4247L4.71565 17.135C4.93891 18.1127 5.62334 18.9704 6.63312 19.3829C8.28523 20.0594 10.1901 19.2884 10.8774 17.6686C11.0562 17.2452 11.1396 16.8012 11.1276 16.3581L15.2259 13.4878C15.2591 13.4888 15.2933 13.4898 15.3264 13.4898C17.779 13.4898 19.7724 11.5303 19.7724 9.12403C19.7724 6.71754 17.779 4.75985 15.3264 4.75985C12.8748 4.75985 10.8804 6.71754 10.8804 9.12403C10.8804 9.14333 10.8804 9.16263 10.8814 9.18074L8.01706 13.2584C7.55307 13.2377 7.08747 13.3175 6.64598 13.4957C6.45136 13.5735 6.269 13.669 6.09789 13.7793L0.0901613 11.3555C0.06087 11.3053 0.0308073 11.2544 0 11.2027C0.411429 4.94719 5.62069 0 11.9871 0C18.6215 0 24 5.3726 24 12C24 18.6273 18.6215 24 11.9871 24ZM6.91807 18.7114C8.1937 19.2323 9.66123 18.6385 10.1931 17.387C10.4504 16.7825 10.4514 16.1129 10.1972 15.5064C9.94296 14.8998 9.4633 14.4252 8.84508 14.1731C8.23188 13.923 7.57557 13.9309 6.99824 14.1456L8.49442 14.7531C9.43466 15.1371 9.87967 16.1966 9.48741 17.1192C9.09636 18.0408 8.01706 18.478 7.07631 18.094L5.62897 17.5062C5.88528 18.031 6.32958 18.4711 6.91807 18.7114ZM12.3644 9.12403C12.3644 10.7278 13.6937 12.0325 15.3264 12.0325C16.9601 12.0325 18.2894 10.7278 18.2894 9.12403C18.2894 7.52151 16.9601 6.21645 15.3264 6.21645C13.6937 6.21645 12.3644 7.52151 12.3644 9.12403ZM15.3314 6.93455C14.1036 6.93455 13.1069 7.9131 13.1069 9.1196C13.1069 10.3262 14.1036 11.3039 15.3314 11.3039C16.5602 11.3039 17.557 10.3262 17.557 9.1196C17.557 7.9131 16.5602 6.93455 15.3314 6.93455Z" fill="#313131"/></svg>
							.katalog__category 
								.katalog__category-item RPG
								.katalog__category-item Экшен
				section.index-news 
					.title-row 
						h3.title-block Игровые новости
						a(href="#") Все материалы
					.news
						.news-left
							.news__item(class="news-1")
								img.news__img-stock(src=img+"news/CFPH0vifuk.png", alt="")
								.news__txt
									a.news__title(href="#") The Division раздают бесплатно
									.news__category Скидки и акции
							.news__item(class="news-2")
								img.news__img-stock(src=img+"news/s-l1600.jpg", alt="")
								.news__txt
									a.news__title(href="#") Apple готовит не только свои процессоры, но и видеокарты
									.news__category Технологии
							.news__item(class="news-3")
								img.news__img-stock(src=img+"news/r_M5y7I93s.jpg", alt="")
								.news__txt
									a.news__title(href="#") Microsoft Flight Simulator. Дорога в небо открыта каждому
									.news__category Симуляторы
							.news__item(class="news-4")
								img.news__img-stock(src=img+"news/2.jpg", alt="")
								.news__txt
									a.news__title(href="#") Выбор редации: лучшие игры о космосе
									.news__category Подборки
						.news-right
							.news__item(class="news__mobile")
								img.news__img-stock(src=img+"news/5143934543e17c4d98df603e308d1990-12-scaled.jpg", alt="")
								.news__icons 
									<svg width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.75841 6.67662C8.86235 6.67662 7.4753 5.64911 6.01461 5.68625C4.08747 5.71101 2.31991 6.8128 1.32566 8.55833C-0.675127 12.0618 0.810117 17.2365 2.7618 20.0838C3.71923 21.4703 4.84851 23.0301 6.34603 22.9806C7.78217 22.9187 8.32226 22.0398 10.0653 22.0398C11.796 22.0398 12.287 22.9806 13.8091 22.9435C15.3557 22.9187 16.3377 21.5322 17.2828 20.1333C18.3753 18.524 18.8294 16.9641 18.854 16.8775C18.8172 16.8651 15.8467 15.7138 15.8099 12.2475C15.7853 9.35063 18.1543 7.96411 18.2648 7.90221C16.9146 5.90908 14.8401 5.68625 14.1159 5.63673C12.2256 5.48818 10.6422 6.67662 9.75841 6.67662ZM12.9498 3.75502C13.7477 2.78941 14.2755 1.44003 14.1282 0.103027C12.9867 0.152546 11.6119 0.870565 10.7895 1.83618C10.053 2.69037 9.41471 4.06452 9.58656 5.37676C10.8509 5.4758 12.152 4.72064 12.9498 3.75502Z" fill="white" fill-opacity="0.3"/></svg>
									<svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.69681 20.3956C1.77891 20.3636 1.86506 20.3233 1.95389 20.2732L13.7516 13.596L10.956 10.7083L1.69681 20.3956ZM14.2752 13.301L11.3571 10.288L14.2725 7.2375L18.2863 9.50173C19.2757 10.0598 18.7696 10.757 18.2863 11.0298L14.2752 13.301ZM13.7503 6.94386L1.95524 0.290338C1.82871 0.219363 1.68604 0.176222 1.54336 0.156738L10.9533 9.87191L13.7503 6.94386ZM0.851513 0.276421L10.5522 10.2908L0.897278 20.3929C0.615962 20.2078 0.463863 19.807 0.462517 19.2893C0.457133 18.297 0.380411 2.54204 0.375027 1.36052C0.372335 0.792726 0.571544 0.447595 0.851513 0.276421Z" fill="white" fill-opacity="0.3"/></svg>
								.news__txt
									a.news__title(href="#") Релиз мобильного приложения по игре Ведьмак 3
									.news__category Mobile
							.news__smalls 
								.news__small
									img(src=img+"news/Rectangle 32.png", alt="")
									.news__txt
										a.news__title(href="#") В Gotham Knights по улицам будут ходить мирные жители со своим распорядком дня
										.news__category RPG
								.news__small
									img(src=img+"news/Rectangle 32 (1).png", alt="")
									.news__txt
										a.news__title(href="#") В Gotham Knights по улицам будут ходить мирные жители со своим распорядком дня
										.news__category RPG
								.news__small
									img(src=img+"news/Rectangle 32.png", alt="")
									.news__txt
										a.news__title(href="#") В Gotham Knights по улицам будут ходить мирные жители со своим распорядком дня
										.news__category RPG
							.news__video 
								img(src=img+"news/Rectangle 32 (2).png", alt="")
								.news__video-txt 
									p Показан геймплей The Witcher: Monster Slayer
									a(href="#") Смотреть видео >
					.news-row 
						a(href="#") Онлайн-шоу с анонсами по Minecraft стартует 3 октября
						a(href="#") Второй сезон Fallout 76 начнётся 15 сентября
						a(href="#") Warface скоро появится в Steam
						a(href="#") Релиз PC-версии Spelunky 2 состоится 29 сентября
						a(href="#") Анонсирована The Witcher: Monster Slayer — мобильная игра по «Ведьмаку»
				section.bonuses
					.bonuses__referals 
						img.bonuses__stock(src=img+"bonuses/Mask Group (2).png", alt="")
						img.bonuses__absolute(src=img+"bonuses/Mask Group.png", alt="")
						img.bonuses__mobile(src=img+"bonuses/mob (2).png", alt="")
						.bonuses__title Система рефералов
						.bonuses__desk Приглашайте друзей и получайте бонусы
						a.btn(href="#") Подробнее
					.bonuses__discounts
						img.bonuses__stock(src=img+"bonuses/Mask Group (3).png", alt="")
						img.bonuses__absolute(src=img+"bonuses/Mask Group (1).png", alt="")
						img.bonuses__mobile(src=img+"bonuses/mob (1).png", alt="")
						.bonuses__title Уникальные скидки и бонусы
						.bonuses__desk При подписке на новости сервиса
						.flex 
							input(type="text" placeholder="E-mail")
							a.btn(href="#") Подписаться
					.bonuses__questions
						img.bonuses__stock(src=img+"bonuses/Mask Group (4).png", alt="")
						img.bonuses__absolute(src=img+"bonuses/image 4.png", alt="")
						img.bonuses__mobile(src=img+"bonuses/Rectangle 40.png", alt="")
						.bonuses__title Остались вопросы?
						form(action="") 
							a.btn(href="#") Отправить
							.bonuses__form 
								input(type="text" placeholder="E-mail")
								textarea(name="") Сообщение


		include blocks/footer.pug
		include blocks/scripts.pug